.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

.Menu__Title {
  margin-top: 3vh;
  text-align: center;
  text-transform: capitalize;
}

.Product__Allegens {
  text-align: center;
}
